* {
    box-sizing: border-box;
}

html {
    background-color: azure;
}

body {
    margin: 0;
}

#website-header {
    position: fixed;
    width: 100vw;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid grey;
}

#website-main {
    padding: 100px;
}

section {
    margin-top: 50px;
    margin-bottom: 400px;
}

#main-image {
    width: 250px;
}